<div class="product-card">
  <div class="product-image">
    <img 
      *ngIf="product.image; else imagePlaceholder" 
      [src]="product.image" 
      [alt]="product.name"
      class="product-img">
    
    <ng-template #imagePlaceholder>
      <div class="image-placeholder">
        {{ product.name }}
      </div>
    </ng-template>
  </div>
  
  <div class="product-info">
    <h3>{{ product.name }}</h3>
    <p class="price">{{ product.basePrice }}€</p>
    
    <div class="product-meta" *ngIf="product.size">
      <span>{{ product.size }}</span>
    </div>
    
    <div class="product-meta" *ngIf="product.isCustomizable">
      <span>Personnalisable</span>
    </div>
  </div>
  
  <div class="product-actions">
    <button 
      class="add-to-cart-btn" 
      (click)="onAddToCart()"
      [disabled]="!product.isActive">
      {{ product.isCustomizable ? 'Personnaliser' : 'Ajouter' }}
    </button>
  </div>
</div>